@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scheduler App</h1>
    <p class="lead"> A simple application to help you schedule conferences. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Scheduler App</h2>
        <p>
            A simple application to help you schedule conferences.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    
</div>